* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #DAE0E6;
}


header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    height: 4em;
    width: 100vw;
    padding: 0 20px;
}

.left {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.right {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 73%;
}

.search i {
    padding-top: 1rem;
    position: absolute;
    z-index: 2;
    left: 2%;
    top: 40%;
    transform: translateY(-50%);
    color: #999a9b;
}


.search input {
    border: 2px solid;
    background-color: #F6F7F8;
    border: 1px solid #e8eaeb;
    padding: 0.5rem 2.5rem;
    position: relative;
    z-index: 2;
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
    height: 2rem;
    font-size: larger;
    margin-right: 16px;

}

.search input::placeholder {
    color: #999a9b;
}

input:focus {
    background-color: #ffffff;
    outline: none;
    border-color: #017AD3;
}


.signup,
.login {
    margin-left: 2rem;
    font-weight: 800;
    font-size: 1.2em;
    width: 8em;
    position: relative;
    height: 2.5rem;
    border-radius: 9999px;

}


.signup {
    background-color: #017AD3;
    border: none;
    color: #ffffff;
}


.login {
    background-color: white;
    color: #017AD3;
    border: 2px solid #017AD3;
}

.signup:hover {
    cursor: pointer;
    background-color: #017bd3e3;

}

.login:hover, .add-post button:hover {
    cursor: pointer;
    background-color: #F6F7F8;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

.add-post {
    width: 37em;
    margin-top: 6rem;
    padding: 0.5rem;
    background-color: white;
}

.add-post input {
    width: 100%;
    border: none;
    padding: 0.5em;
    height: 2.5em;
    background-color: #F8F9FA;
  
}

.posttext{
    border-radius: 5px 5px 0 0;
}

.postimg{
    border-radius: 0 0 5px 5px ;
}

.add-post button {

    padding: 0.2em 0.6em;
    margin: 0.3em 0;
    background-color: white;
    color: #017AD3;
    border: 2px solid #017AD3;
    border-radius: 10px;

}

.posts {
    max-width: 90%;
    padding-top: 2rem;
}

.post {
    max-width: 37em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    background-color: white;
    margin: 0.7em;

}

.post-votes,
.post-icons {
    color: #999a9b;

}

.post-votes {
    padding: 0.5em;
    background-color: #F8F9FA;
}

.post-votes a,
.post-icons a {
    cursor: pointer;
}

.post-votes a:hover,
.post-icons a:hover {
    cursor: pointer;
    color: #525252;
}

.user-img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.post-img {
    max-width: 90%;
}

.user-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.post-content {
    padding-top: 1em;
    padding-left: 1em;
}

.user-name {
    padding-left: .5em;
}

.post-details {
    padding: 0.5em;


}


.container {
    /* display: none !important; */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: white;
}


.container .close-btn:hover {
    color: black;
}

.container .tilte {
    font-size: 1.8em;
    font-weight: 550;
    text-align: center;
    margin-bottom: .5rem;
}

.container form .data {
    height: 45px;

    margin: 10px;
}

form .data label {
    font-size: 0.9rem;
}


form .data input,
.owners-list {
    height: 30px;
    width: 100%;
    border: 1px solid lightgrey;
    padding-left: 0.8rem;
}

form .btn {
    margin: 15px;

}

form .btn button {
    display: block;
    height: 40px;
    width: 100%;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #017AD3;
    border-radius: 9999px;
    color: #fff;
}

form .btn button:hover {
    background-color: #43588d;
}

.close {
    background-color: red;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    color: white;
    text-align: right;

}